.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #a9bf04;
  min-width: 100vh;
  height: 40px;
}

.logo {
  cursor: pointer;
  margin-left: 1100px;
}
