/* LANDING */
body {
  background-color: #f2f2f2;
  min-height: 600px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
  padding-top: 4rem;
}
.sectionParrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  color: #a9bf04;
  text-shadow: 1px 2px 2px rgb(66, 65, 65);
  margin: 0, 0;
  padding: 0;
  position: absolute;
  margin-top: -300px;
}

.divImg img {
  width: 45%;
  float: right;
  margin-top: -850px;
}
.divImg2 img {
  width: 35%;
  float: left;
  margin-top: -463px;
  margin-bottom: 0;
  overflow: hidden;
}

/*Animacion del titulo*/
.conText {
  margin-top: -150px;
}
.h1 {
  float: left;
  font-family: "Poppins", sans-serif;
  font-size: 140px;
  color: #d97904;
  margin: 20vh;
  letter-spacing: 35px;
  position: relative;

  &:before {
    content: "Hello!";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 400px;
    color: transparent;
    letter-spacing: 10px;
    text-shadow: none;
  }
}
&:hover h1:before {
  transition: 0.6s ease;
  color: #d92b04;
  animation: jump-out 0.6s ease forwards;
}

@keyframes jump-out {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.pie {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
}
.logo {
  margin-left: 250px;
  margin-right: 250px;
}

.button {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 10px;
  width: 350px;
  cursor: pointer;
  background: #f2f2f2;
  border: none;
  border-radius: 50px;
  color: #d97904;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

/* HOME --------------------------------------------------------------------------------- */
.page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.containerHome {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  right: 5%;
}
.pag {
  margin-top: -15px;
}

.filtersInputs {
  align-items: center;
  justify-content: center;
}
/* CREATE --------------------------------------------------------------------------------- */

.containerCreate {
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 750px;
  margin: 8% auto;
  margin-top: 30px;
  background: #a9bf04;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form {
  padding: 30px;
}

.h3 {
  margin-top: 30px;
  margin-bottom: 25px;
  color: #f2f2f2;
}
.input {
  margin: 30px 5px;
}
.p {
  margin-top: 5px;
  color: #da0606;
}
.diets {
  font-size: 15px;
  color: #f2f2f2;
}

.buttons {
  flex-direction: row;
  align-items: center;
}
